%span.date
  Dec 15, 2010
%div
  %h2 Joke of the day
  %p
    There once was a rich man who was near death. He was very grieved because he had worked so hard for his money and he wanted to be able to take it with him to heaven. So he began to pray that he might be able to take some of his wealth with him. 
  %p
    An angel hears his plea and appears to him. "Sorry, but you can't take your wealth with you." The man implores the angel to speak to God to see if He might bend the rules.   
  %p
    The man continues to pray that his wealth could follow him. The angel reappears and informs the man that God has decided to allow him to take one suitcase with him. Overjoyed, the man gathers his largest suitcase and fills it with pure gold bars and places it beside his bed. 
  
  %p
    Soon afterward the man dies and shows up at the Gates of Heaven to greet St. Peter. St. Peter seeing the suitcase says, "Hold on, you can't bring that in here!" 
  
  %p
    But, the man explains to St. Peter that he has permission and asks him to verify his story with the Lord. Sure enough, St. Peter checks and comes back saying, "You're right. You are allowed one carry-on bag, but I'm supposed to check its contents before letting it through." 
  
  %p
  St. Peter opens the suitcase to inspect the worldly items that the man found too precious to leave behind and exclaims, "You brought pavement?!!!"
  
