%span.date
  Dec 17, 2010
%div.item
  %p Woohoo! It is Friday! That means only 2 more days until Sunday worship =) I hope everyone has a safe and good weekend and I pray that God may be worshipped in spirit and in truth when it comes to Sunday, for God is holy and worthy to be praised. 
  
  %h2 Joke of the Day
  %p.caveat
    *Disclaimer* Now this next joke comes with a little disclaimer. When it comes to salvation for sinners there is no point system. Eph. 2:8-9 says we are saved by grace alone and not by works. Also, that grace is only through Jesus Christ and His blood as propitiation for our sins, not through haggling. So that's the point of the joke. Hopefully, no one takes these jokes as a point of reference for sound doctrine. Also, I'm getting them from 
    %a{:href=>"http://www.christian-jokes.net"} www.christian-jokes.net
    but if you have your own jokes you'd like to submit, I'd be more than happy to post them here. Enjoy!
  %p 
    A man dies and goes to heaven. St. Peter meets him at the pearly gates. 
  %p
    St. Peter says, "Here's how it works. You need 100 points to make it into heaven. You tell me all the good things you've done, and I give you a certain number of points for each item, depending on how good it was. When you reach 100 points, you get in." 
  %p
    "Okay" the man says, "I attended church every Sunday" 
    "That's good, says St. Peter, " that's worth two points" 
  %p
    "Two points?" he says. "Well, I gave 10% of all my earnings to the church" 
    "Well, let's see," answers Peter, "that's worth another 2 points. Did you do anything else?" 
  %p
    "Two points? Golly. How about this: I started a soup kitchen in my city and worked in a shelter for homeless veterans." 
    "Fantastic, that's certainly worth a point, " he says. 
  %p
    "hmmm...," the man says, "I was married to the same woman for 50 years and never cheated on her, even in my heart." 
    "That's wonderful," says St. Peter, "that's worth three points!" 
  %p
    "THREE POINTS!!" the man cries, "At this rate the only way I get into heaven is by the grace of God!" 
  %p
    "Come on in!"
  %p.caveat
    * Also I think this joke was written by a female. Only 1 or 2 points for all the good things the guy did but 3 points for for loving his wife?? Haha
    
%span.date
  Dec 16, 2010
%div.item
  %p I just realized Christmas is just 9 days away and I haven't done any shopping! But that's not the purpose of Christmas anyways. I love Christmas because even though its a crazy busy time of year, its the time to truly reflect on the birth of Jesus Christ. Thinking of how Jesus loved a sinner such as me so much that He gave up His position as God in heaven to come to earth. It's really amazing. God loves us so much He gave His son! There's nothing more wonderful than that. Christmas is really about John 3:16. Thank you Lord.
  
  %p Philippians 2:6-8 who, although He existed in the form of God, did not regard equality with God a thing to be grasped, but emptied Himself, taking the form of a bond-servant, and being made in the likeness of men. Being found in appearance as a man, He humbled Himself by becoming obedient to the point of death, even death on a cross.
  %p And for those like who haven't done your, here's a joke to remind you to choose your gifts wisely 
  %h2 Joke of the day
  %p Three sons left home, went out on their own and prospered. Getting together for Christmas, they discussed the gifts they were able to give their elderly mother. 
  %p The first said, “I built a big house for our mother.” 
  %p The second said, “I sent her a Mercedes.” 
  %p The third smiled and said, “I’ve got you both beat. You remember how mom enjoyed reading the Bible? And you know she can’t see very well. So I sent her a remarkable parrot that recites the entire Bible. It took elders in the church 12 years to teach him. He’s one of a kind. Mom just has to name the chapter and verse, and the parrot recites it.” 
  %p Soon thereafter, mom sent out her letters of thanks: 
  %p “Dear Milton,” she wrote one son, “The house you built is too huge. I live in only one room, but I have to keep the whole house clean!” 
  %p “Dear Gerald,” she wrote to another, “I am too old to travel. I stay at home most of the time, so I rarely use the Mercedes.” 
  %p “Dearest Donald,” she wrote to her third son, “You have the good sense to know what your Mother likes. 
  The chicken was Dee-licious!”
  %p
%span.date
  Dec 15, 2010
%div.item
  %h2 Joke of the day
  %p
    There once was a rich man who was near death. He was very grieved because he had worked so hard for his money and he wanted to be able to take it with him to heaven. So he began to pray that he might be able to take some of his wealth with him. 
  %p
    An angel hears his plea and appears to him. "Sorry, but you can't take your wealth with you." The man implores the angel to speak to God to see if He might bend the rules.   
  %p
    The man continues to pray that his wealth could follow him. The angel reappears and informs the man that God has decided to allow him to take one suitcase with him. Overjoyed, the man gathers his largest suitcase and fills it with pure gold bars and places it beside his bed. 
  
  %p
    Soon afterward the man dies and shows up at the Gates of Heaven to greet St. Peter. St. Peter seeing the suitcase says, "Hold on, you can't bring that in here!" 
  
  %p
    But, the man explains to St. Peter that he has permission and asks him to verify his story with the Lord. Sure enough, St. Peter checks and comes back saying, "You're right. You are allowed one carry-on bag, but I'm supposed to check its contents before letting it through." 
  
  %p
    St. Peter opens the suitcase to inspect the worldly items that the man found too precious to leave behind and exclaims, "You brought pavement?!!!"
  
