<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html
  %head
    %title Laame!
    =stylesheet_link_tag "main"
  %body
    #header
      %span This site is
      %h1 LAAME!
      %span by Andrew Kim
      
    #stage
      = yield